:root{
      --white:white;
      --purple:purple;
      
}

header{
      margin:20px 20px 20px 20px;
      display:flex;
}

/* allows sections be hidden */
.hidden{
      display:none;
}

header > p{
      justify-content: right;
}
